
body{
    background-color: #dad7d7;
   
    font:normal 15pt Arial;
    
}
header{
   text-align: center;
   color: #5a5858;
}

section{
    background-color: #2d69c2;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #00000031;
    padding: 15px;
    width: 40%;
    margin: 2% auto;
    color: white;
    
    
    
    
    
    
    
}

div{
    
    padding: 10px;
    
}
footer{
    color: #f1f1f5;
    text-align: center;
    margin-top: 20px;

}


div {
   display: flex;
   flex-direction: column;
   margin-top: 10%;
    
    
    
}


div label{
    margin-top: 30px;
}

#verifique{
    display: flex;
    width: 100px;
    padding: 10px;
    margin-top: 30px;
    justify-content: center;
    border-radius: 10px;
    background-color: #eec747;
    font-weight: bold;
    font-size: 15pt;
    transition: .2s ease all;

}

#verifique:hover{
    transform:scale(1.08);
}


#verifique:active{
    background-color: green;

}

input{
    width: 80px;
    padding: 10px;
    border-radius: 10px;
    
}

div#resp{
    background-color: #0c0c0c;
   border-radius: 10px;
   
}


footer{
    color: #1f1f20;
    text-align: center;
    margin-top: 5px;

}
